*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    background:#82a2dd;
}


.container{
    width: 90%;
    margin: auto;
}

header{
    background: white;
    position: fixed;
    top: 0;
    width: 100% ;
    box-shadow: 0 2px 5px gray;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo{
    color: blue;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    
   
}

nav ul li a:hover{
    color: blue;
}






.hero{
    margin-top: 90px;
    height: 500px;
    background-image: url(it\ img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(239, 238, 244);
  

}

.hero-container{
    background: rgb(0,0,0,0.5);
    padding: 30px;
    border-radius: 10px;
}
.hero h1{
    font-size: 40px;
}

.hero p{
    margin: 20px 0;

}

button{
    padding: 12px 25px;
    border: none;
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover{
    background: black;
    color: white;
}


.services{
    text-align: center;
    padding: 60px 20px;
}


.service-container{
    display: flex;
    justify-content: center;
   
    gap: 20px;
    flex-wrap: wrap;
    margin: 30 0;
}


.card{
    width: 250px;
    background: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px gray;
    margin: 20px;
}

.card h3{
    margin-bottom: 10px;
}

.card:hover{
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}
    

.case-study{
    text-align: center;
    padding: 60px 20px;
}


.clients{
    text-align: center;
    padding: 60px 20px;
    
}

.client-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    flex-wrap: wrap;
    margin-top: 30px;
    
    
}

.client{
    width: 180px;
    padding: 120px;
    background:rgb(230, 232, 236);
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0, 2px ,8px gray;
}
.clients :hover{
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}

.client img{
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.testimonials{

    text-align: center;
    padding: 60px 20px;
}
.testimonial-container:hover{
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}

.testimonial-container{

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.testimonial-card{
    width: 280px;
    background: rgb(228, 232, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px gray;
}

.stars{
    color: gold;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}


footer{
    background:#222;
    color:white;
    padding:50px 30px 20px;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}
.footer-box{
    width:220px;
}
.footer-box h2{
    margin-bottom:15px;
    color: #0d6efd;
}
.footer-box p{
    margin:10px 0;
}

.footer-box a{
    display:block;
    color:white;
    text-decoration:none;
    margin:10px 0;
}

.footer-box a:hover{
    color:#0d6efd;
}

hr{
    margin:30px 0 15px;
}

.copyright{
    text-align:center;
}